.cards-container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.pokemon-card {
  width: 150px;
  border: 1px solid #ffffff60;
  border-radius: 10px;
  gap: 0px;
  cursor: pointer;
  overflow: hidden;
  transition: all .4s;
}
.card-img {
  width: 100%;
  padding: 10px;
}
.name-type {
  justify-content: start;
    border-top: 1px solid #ffffff60;
  background-color: #52535a;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  gap: 5px;
  height: 50%;
  transition: all .4s;
}
.card-name {
  margin-top: 5px;
  text-align: center;
}
.card-type {
  font-weight: 700;
}

@media (min-width: 1024px){
    .pokemon-card:hover > .name-type, .pokemon-card:hover {
        border-color: #fff;
    }
}